* {
    margin: 0px;
    
}
.container {
    display: grid;
    grid-template: 100px 1fr / 1fr;
    grid-template-areas: "header" "content";
    height: 100vh;
}

.item1 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.header {
    grid-area: header;
    
}

.content {
    grid-area: content;
    display: flex;
    justify-content: center;
    padding: 50px;
}


.formulario{
    list-style-type: none;
    padding: 5px 5px;
    margin: 20px;


}

.formulario_filaa {
    margin-top: 5px;
    display: flex;
    justify-content: flex-right;
}

.formulario_filaa1 {
    margin-top: 10px;
    

}

.formulario_filaa > label {
    margin: 5px;
    flex: 5;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
   
}

.formulario_filaa > input {
    margin: 5px;
    flex: 6;
    
}

.formulario_filaa1 > label {
    float: left;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
   
}

.formulario_filaa1 > input {
    position: relative;
    margin: 2px;
    margin-left: -4cm;
    
}

.formulario-fila > button {
    background-color: grey;
    color: white;
    border: none;
    
    

    
}

.formulario-fila > input, .formulario-fila > button {
    margin: 10px;
    padding: .5em;
    font-size: 20px;
    color: white;
    text-decoration: none;
}



.tabla{    
    margin: 2px;
    margin-top: 10px;
    width: 35rem;
}

.tr, th{
    border: 2px solid black;


}

